<div class="container">
  <div class="list-banner">
    <h1>Create your list</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <%= simple_form_for(@list) do |f| %>
        <%= f.input :name, placeholder: 'Add a list name' %>
        <%= f.input :imageUrl, placeholder: 'Add an image URL' %>
        <%= f.submit "Create", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
