<div class="container">
  <h2 class="text-center">Add Bookmark</h2>
  <div class="row new-form d-flex justify-content-center">
    <div class="col-lg-6 right-bg" >
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie %>
        <%= f.submit class: 'btn-submit mt-3 btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
